html, body {
    font-family: sans-serif;
    background-color:#f5f5f5;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    margin-right: auto;
    color: black;
    text-decoration: none;
}

.moon-logo {
    color: black;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-item a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #f5f5f5;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.social-icon {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #00aaff;
}

section {
    padding: 2rem;
    text-align: center;
}

#home #about #projects #contact {
    background-color: #f5f5f5;
    margin-top: 1rem;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card a {
    color: #333;
    text-decoration: none;
}

.card img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.card h2 {
    margin-top: 10px;
}

.card p{
    margin-top: 10px;
    color: #666;
}