body {
    font-family: sans-serif;
    background-color: #f9f7e8;
    color: black;
}

header {
    background-color: #333;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
    text-align: center;
}

#about #projects #contact {
    background-color: #f4f4f4;
    margin-top: 1rem;
}



